vndbinder_use(hal_fingerprint_default)

binder_call(hal_fingerprint_default, hal_perf_default)
binder_call(hal_fingerprint_default, cdfinger_service)
binder_call(hal_fingerprint_default, goodix_fingerprint_vndservice)

allow hal_fingerprint_default cdfinger_device:chr_file rw_file_perms;
allow hal_fingerprint_default tee_device:chr_file rw_file_perms;
allow hal_fingerprint_default fingerprintd_device:chr_file rw_file_perms;

typeattribute hal_fingerprint_default data_between_core_and_vendor_violators;

get_prop(hal_fingerprint_default, cdfinger_prop)
set_prop(hal_fingerprint_default, cdfinger_prop)

allow hal_fingerprint_default hal_perf_hwservice:hwservice_manager find;
allow hal_fingerprint_default goodix_fingerprint_vndservice:service_manager add;

allow hal_fingerprint_default cdfinger_data_file:dir rw_dir_perms;
allow hal_fingerprint_default cdfinger_data_file:file rw_file_perms;

allow hal_fingerprint_default firmware_file:dir search;
allow hal_fingerprint_default firmware_file:file r_file_perms;

# TODO(b/36644492): Remove data_between_core_and_vendor_violators once
# hal_fingerprint no longer directly accesses fingerprintd_data_file.
typeattribute hal_fingerprint_default data_between_core_and_vendor_violators;
# access to /data/system/users/[0-9]+/fpdata
allow hal_fingerprint_default fingerprintd_data_file:file create_file_perms;
allow hal_fingerprint_default fingerprintd_data_file:dir rw_dir_perms;

allow hal_fingerprint_default self:netlink_socket create_socket_perms_no_ioctl;

allow hal_fingerprint_default sysfs_usb_supply:dir search;
allow hal_fingerprint_default sysfs_usb_supply:file { open read };
