type_transition init nvram_btwifi_exec:process nvram_btwifi;

allow init nvram_btwifi:process { rlimitinh siginh transition };

allow init hal_perf_default:binder call;
allow init hal_perf_hwservice:hwservice_manager find;
allow init hwservicemanager:binder call;
allow init mediadrmserver:binder transfer;
allow init self:process execmem;
allow init tee_device:chr_file write;
