type_transition init nvram_btwifi_exec:process nvram_btwifi;

allow init init_blutmac_exec:file { execute execute_no_trans };
allow init nvram_btwifi:process { rlimitinh siginh transition };
allow init nvram_btwifi_exec:file execute;
dontaudit init nvram_btwifi:process noatsecure;
